<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Home", root_path, class: "navbar-brand",
    style:" margin-left: 20px," %>
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style = "margin-left: 20px;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
    <%= link_to "Upload Post", new_post_path, class: "nav-link"%>
      </li>
      <% if user_signed_in?%>
      <li class="nav-item">
        <%= link_to "view my profile", current_user, class: "nav-link" %>
      </li>
      <%= link_to "sign out"
      destroy_user_session_path, class: "nav-link"%>
        <a class="nav-link" href="#">Link</a>
      </li>
      <% end %>

      <li class = "nav-item">
        <%= link_to "Edit Account", 
        edit_user_registration_path, class: "nav-link" %>
      <li>
      <%else%>

      <li class = "nav-item">
        <%= link_to "View my Posts",posts_myposts_path ,class: "nav-link"%>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        <%= link_to "About Page", home_about_path, 
        class: "nav-link"%>
      </li>
      <li class = "nav-link">
        <%= Link_to "sign up", new_user_registration_path,
        class: "nav-link"%>
        </li>
    </ul>
  </div>
</nav>